@media screen and (max-width: 600px) {
  .header_menu {
    display: none;
  }

  .header_icon_Area {
    display: none;
  }
  .miniVar {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .bandItems {
    width: 100%;
    margin: 0px auto;
    text-align: justify;
    margin-bottom: 30px;
  }
  .bandPersonsNames {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .name h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .tourTicketBuySection {
    display: flex;
  }
  .contactSection {
    padding: 50px 0px;
  }
  .contactInfos {
    display: flex;
    justify-content: space-around;
  }
  .contactleftInfo p {
    font-size: 20px;
  }
  .contactTitleDesc {
    margin-bottom: 90px;
  }
  .sendBtn {
    text-align: right;
  }
  .sendBtn button {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
  }
}
