/* Customize css styel start */
*,
a,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* Customize css styel End */

/* Header section css style start */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.header_menu {
  flex: 90%;
}
.header_menu ul {
  display: flex;
  list-style-type: none;
}
.header_menu ul li {
  padding: 10px 20px;
  margin-top: -4px;
}
.header_menu ul li a {
  font-size: 20px;
  color: white;
  /* padding: 10px; */
}
.header_menu ul li:hover {
  background-color: #ccc;
}
.header_menu ul li:hover a {
  color: black;
}
.miniVar {
  display: none;
}
.header_icon_Area {
  font-size: 16px;

  display: flex;
  justify-content: end;
  padding: 12px 12px;
}
.header_icon_Area:hover {
  background-color: red;
}
/* Header section css style End */

/* Banner section start */
.banner_container {
  position: relative;
  background-color: black;
}
.banner_container img {
  width: 100%;
  height: auto;
  mix-blend-mode: exclusion;
}
.banner_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  color: white;
  text-align: center;
  font-size: 20px;
}
.bandItems {
  text-align: justify;
  padding: 10px;
}
.bandTitle,
.bandSubTitle {
  text-align: center;
  margin: 20px 0px;
}
.bandPersonsNames {
  text-align: center;
}
.bandPersonsNames .name {
  margin-top: 20px;
}
.bandPersonsNames .name img {
  width: 100%;
  padding: 7px;
  border-radius: 9px;
}
.bandPersonsNames .name h4 {
  margin-bottom: 15px;
  font-size: 25px;
}
/* Banner section end */

/* Tour section Style Css start */
.tourDetailsSection {
  background-color: black;
  padding: 20px;
}
.tourSectionTiles {
  text-align: center;
  margin-bottom: 50px;
}
.tourTitle,
.tourSubTitle {
  color: white;
  margin-bottom: 20px;
}
.tourCalendar {
  background-color: white;
  color: black;
  padding: 5px;
  margin-bottom: 30px;
}
.date_details {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.date_details span {
  background-color: red;
  color: white;
  padding: 0px 5px;
}
#dateDesign {
  background-color: #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.lastDateContainer {
  display: flex;
  justify-content: space-between;
}
.tourTicket {
  width: 100%;
  padding: 10px;
}

.ticketimg {
  width: 100%;
}
.ticketimg img {
  width: 100%;
  height: auto;
}
.ticketimg:hover {
  mix-blend-mode: screen;
}
.countryDetails {
  background-color: white;
  padding: 20px;
}
.countryDetails h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.ticketSubTitle {
  color: gray;
  margin-bottom: 10px;
}

.buyBtn {
  width: 120px;
  height: auto;
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}
.buyBtn a {
  color: white;
}
/* Tour section Style Css end */

/* Contact section css start */
.contactSection {
  padding: 10px;
  outline: none;
}
.contactTitleDesc {
  text-align: center;
  margin-bottom: 30px;
}
.contactleftInfo {
  margin-bottom: 20px;
  text-align: left;
}
.contactleftInfo p {
  margin-bottom: 10px;
}
.contactleftInfo p span {
  margin-right: 10px;
}
.contactRightInfo form input {
  width: 49%;
  padding: 10px 20px;
  outline: none;
}
.contactRightInfo textarea {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  outline: none;
}
.sendBtn button {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}
/* Contact section css end */

/* Map section Start */
.mapImage {
  margin-top: 50px;
}
.mapImage img {
  max-width: 100%;
  height: auto;
}

/* Footer section css */
footer {
  background-color: #f7f7f7;
  padding: 50px 0px;
}

.socialIcons {
  text-align: center;
  font-size: 25px;
}
.socialIcons i {
  margin-right: 20px;
  margin-bottom: 20px;
}
